@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Quicksand:wght@300;400;500;600&display=swap');

.menu{
    color: black;
    font-size: small;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    position: sticky;
    top: 0;
}
.headerLeft{
    display: flex;
    
    align-items: center;
    gap: 10px;
}
.headerLeft>svg{
    color: red;
    font-size: -webkit-xxx-large;
}
.headerLeft>p{
    font-size: x-large;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}
.headerLeft>span{
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.63);
    font-size: small;
}
.headerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
}
.headerCenter>button{
    background-color: #F5F5F5;
    margin-left: 10px;
}
.search{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 2px;
    /* width: 580px; */
}
.search>input{
    width: 500px;
    padding: 10px;
    outline: rgba(76, 76, 248, 0.733);
    overflow: hidden;
    font-weight: 700;
    border:none
}
.search>svg{
    color: rgba(0, 0, 0, 0.603);
    text-align: center;
    background-color: #F8F8F8;
    padding:6.5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.178);
}
.headerRight>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 10px;
}

.headerRight>div>button>svg{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.747) !important;
}