.Login{
    display: grid;
    height: 90vh;
    place-items: center;
}
.Login>div>svg{
    font-size: 200px;
    color: red;
}
.Login>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login>div>p{
    font-size: -webkit-xxx-large;
    font-weight: 1000;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 0, 0, 0.582) !important;
    width: 25% !important;
    border-radius: 25px !important;
    color: white !important;
    font-weight: 600 !important;
    letter-spacing: 1.5px;
}
.Login>div>img{
    width: 24px;
    margin-left: 10px;
}