.Login{
    display: grid;
    height: 90vh;
    place-items: center;
}
.Login>div>svg{
    font-size: 180px;
    color: red;
}
.Login>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login>div>p{
    font-size: -webkit-xxx-large;
    font-weight: 1000;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 0, 0, 0.582) !important;
    width: 25% !important;
    border-radius: 25px !important;
    color: white !important;
    font-weight: 600 !important;
    letter-spacing: 1.5px;
}
.Login>div>img{
    width: 24px;
    margin-left: 10px;
}

@media screen and (max-width:600px) {
    .Login>div>svg{
        font-size: 160px;
        color: red;
    }
    button{
        width: 50% !important;
    }
}
@media screen and (max-width:500px) {
    .Login>div>svg{
        font-size: 140px;
        color: red;
    }
    button{
        width: 50% !important;
    }
}
@media screen and (max-width:380px) {
    .Login>div>svg{
        font-size: 130px;
        color: red;
    }
    .Login>div>p{
        font-size: xx-large;
        font-weight: 800;
    }
    button{
        width: 50% !important;
    }
}
@media screen and (max-width:330px) {
    
    button{
        width: 50% !important;
    }
}